#forms{
  width: 65vw;
}
.labelClass{
  font-weight: bold;
  font-size: 17px;
}
.brand-input{
  font-size: 15px;
  width: 86%;
}
#brand-name{
  cursor: pointer;
  border: 1px solid grey;
}
#brand-Name:hover{
  background-color: #a0d2eb;
}
.container{
  margin-top: 100px !important;
  border: 1px solid grey;
  border-radius: 15px;
}

