<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 border rounded-2">
      <div class="mb-3 mt-4">
        <label for="id1" class="form-label labelClass">Select Brand</label>
        <input type="text" class="form-control ms-2 brand-input" id="id1" placeholder="Search Make" (ngModel)="searchTerm" (ngModelChange)="onSearchChange($event)">
        <div class="row ms-1 mt-3">
          <div class="col-md-5 m-1 cursor-pointer" id="brand-name" *ngFor="let car of selectBrand | search : searchTerm" (click)="selectBrandName(car.brandName)">
            <img [src]="car.imgPath" alt="carImage" class="mx-1" height="25" width="25">
            <span class="mx-1">{{car.brandName}}</span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6 border">
      <app-insurance-details [insuranceData]="insuranceData"></app-insurance-details>
      <div class="row">
        <img src="../../../assets/blue-car.jpg" class="car-img mt-3 w-75 ms-5" alt="car" height="200">
      </div>
    </div>

  </div>
</div>



