
<div class="container mt-3 text-left w-75" >
<ul class="list-group" >
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold fs-6">Car Name : <span class="ms-5 text-muted">{{insuranceData.registrationDetails.brandName}}</span></div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" routerLink="/car-insurance">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold fs-6">Model Name : <span class="ms-4 text-muted">{{insuranceData.registrationDetails.modelName}}</span></div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-modal',insuranceData.registrationDetails.brandName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold fs-6">Variant Name : <span class="ms-3 text-muted">{{insuranceData.registrationDetails.variantName}}</span></div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-variant',insuranceData.registrationDetails.variantName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold fs-6">Year : <span class="ms-4 text-muted">{{insuranceData.registrationDetails.year}}</span></div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" routerLink='/car-insurance/registration-details'>Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold fs-6">Month : <span class="ms-3 text-muted">{{insuranceData.registrationDetails.month}}</span></div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" routerLink='/car-insurance/registration-details'>Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold fs-6">City : <span class="ms-4 text-muted">{{insuranceData.registrationDetails.city}}</span></div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" routerLink='/car-insurance/registration-details'>Edit</button>
  </li>
</ul>
</div>

<div class="gif rounded-pill shadow-lg d-flex">
  <img src="../../../assets/whatsapp_new.gif" class="rounded-pill" height="50" alt=""> <div class="text-muted fs-6 ms-1 mt-3">Live Chat</div>
</div>







