
<div class="container mt-3 text-left w-75">
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Car Name : {{insuranceData.brandName}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" routerLink="/car-insurance">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Model Name : {{insuranceData.modelName}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-modal',insuranceData.brandName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Variant Name : {{insuranceData.variantName}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-variant',insuranceData.variantName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Year : {{insuranceData.year}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-variant',insuranceData.variantName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Month : {{insuranceData.month}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-variant',insuranceData.variantName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">City : {{insuranceData.city}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-variant',insuranceData.variantName]">Edit</button>
  </li>
</ul>
</div>









<!-- <div class="container mt-3 text-left">
  <div class="row">
    <div class="col-12">
      <span class="text-muted mx-2"> Car Name </span> : <span class="text-muted"> {{insuranceData.brandName}} </span> <span class="mx-2" routerLink="/car-insurance"><i class="bi bi-pencil-square editBtn"></i></span>
    </div>
    <div class="col-12">
       <span class="text-muted mx-2"> Model Name </span> : <span class="text-muted"> {{insuranceData.modelName}} </span> <span class="mx-2" [routerLink]="['/car-insurance/select-modal',insuranceData.brandName]"><i class="bi bi-pencil-square editBtn"></i></span>
     </div>
    <div class="col-12">
       <span class="text-muted mx-2"> Variant Name </span> : <span class="text-muted"> {{insuranceData.variantName}} </span> <span class="mx-2" [routerLink]="['/car-insurance/select-variant',insuranceData.modelName]"><i class="bi bi-pencil-square editBtn"></i></span>
     </div>
  </div>
</div> -->
