
<div class="container mt-3 text-left w-75" >
<ul class="list-group" >
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Car Name : {{insuranceData.brandName}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" routerLink="/car-insurance">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Model Name : {{insuranceData.modelName}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-modal',insuranceData.brandName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Variant Name : {{insuranceData.variantName}}</div>
    </div>
    <button class="btn bg-secondary text-white m-0 p-1" [routerLink]="['/car-insurance/select-variant',insuranceData.variantName]">Edit</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Year : {{insuranceData.year}}</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">Month : {{insuranceData.month}}</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto mt-2">
      <div class="fw-bold">City : {{insuranceData.city}}</div>
    </div>
  </li>
</ul>
</div>

<div class="gif rounded-pill shadow-lg d-flex">
  <img src="../../../assets/whatsapp_new.gif" class="rounded-pill" height="50" alt=""> <div class="text-muted fs-6 ms-1 mt-3">Live Chat</div>
</div>







