
<div class="container w-75 mt-3">
  <div class="row">
    <div class="col-md-6 rounded-start p-2">
      <div class="row">
        <form [formGroup]="personalDetails" (ngSubmit)="submitForm()">
          <div class="col-md-12 border rounded py-3 shadow-sm mb-2 px-2 d-flex justify-content-between"
            style="background-color: #fafafa;" *ngIf="ownerDetailsForm">
            <span><i class="bi bi-check-lg mx-1 text-success fs-5"></i> Owner Details</span>
            <a class="border border-secondary editBtn"
              (click)="ownerDetailsForm = !ownerDetailsForm">Edit</a>
          </div>
          <div class="col-md-12 border px-3 py-2" *ngIf="!ownerDetailsForm" formGroupName="owner-details">
            <p class="fw-bold fs-6">Owner Details</p>
            <div class="mb-3">
              <label for="id1" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="id1" formControlName="fullName">
              <div class="row" *ngIf="fullName?.invalid && fullName?.touched">
                <div class="invalid-feedback d-block" *ngIf="fullName?.errors?.['required']">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="id2" class="form-label">Pincode</label>
              <input type="text" class="form-control" id="id2" formControlName="pinCode">
              <div class="row" *ngIf="pinCode?.invalid && pinCode?.touched">
                <div class="invalid-feedback d-block" *ngIf="pinCode?.errors?.['required']">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="id3" class="form-label">Email Address</label>
              <input type="text" class="form-control" id="id3" formControlName="email">
              <div class="row" *ngIf="email?.invalid && email?.touched">
                <div class="invalid-feedback d-block" *ngIf="email?.errors?.['required']">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="id4" class="form-label">Mobile No.</label>
              <input type="text" class="form-control" id="id4" formControlName="mobile">
            </div>

            <button type="button" class="btn btn-warning m-2"
              (click)="ownerDetailsForm = !ownerDetailsForm" >Continue</button>

          </div>

          <div class="col-md-12 border rounded px-2 py-3 shadow-sm mb-2 mt-2 d-flex justify-content-between"
            style="background-color: #fafafa;" *ngIf="!ownerDetailsForm">
            <span><i class="bi bi-check-lg mx-1 text-success fs-5"></i>Car Details</span>
            <a class="border border-secondary editBtn"
              (click)="ownerDetailsForm = !ownerDetailsForm">Edit</a>
          </div>

          <div class="col-md-12 border mt-2 px-3 py-2" *ngIf="ownerDetailsForm" formGroupName="car-details">
            <p class="fw-bold fs-6">Car Details</p>
            <div class="mb-3">
              <label for="id11" class="form-label">Registration Number</label>
              <input type="text" class="form-control" id="id11" formControlName="regNumber">
              <div class="row" *ngIf="regNumber?.invalid && regNumber?.touched">
                <div class="invalid-feedback d-block" *ngIf="regNumber?.errors?.['required']">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="id12" class="form-label">Chasis Number</label>
              <input type="text" class="form-control" id="id12" formControlName="chasisNumber">
              <div class="row" *ngIf="chasisNumber?.invalid && chasisNumber?.touched">
                <div class="invalid-feedback d-block" *ngIf="chasisNumber?.errors?.['required']">This field is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="id2" class="form-label">Engine Number</label>
              <input type="text" class="form-control" id="id2" formControlName="engineNumber">
            </div>
            <div class="mb-3">
              <label for="id13" class="form-label">Fastag Number</label>
              <input type="text" class="form-control" id="id13">
            </div>

            <div class="mb-3">
              <mat-slide-toggle>I have taken a car loan</mat-slide-toggle>
            </div>

            <div class="mb-3 mt-2">
              <label for="id14" class="form-label">Bank/Loan Provider </label>
              <input type="text" class="form-control" id="id14" formControlName="bankLoanProvider">
            </div>
            <button type="submit" class="btn btn-warning m-2" [disabled]="personalDetails.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 border rounded-end">
      <app-insurance-details [insuranceData]="insuranceData"></app-insurance-details>
      <div class="row">
        <div>
          <img src="../../../assets/blue-car.jpg" class="mt-4 ms-5" alt="car" height="150">
        </div>
        <!-- <button class="btn btn-danger" (click)="generatePDF()">Generate PDF</button> -->
      </div>
    </div>
    <div>

    </div>
  </div>

    <app-payment-details ></app-payment-details>
</div>



