<div class="container w-75 mt-1">
  <div class="row">
     <div class="col-md-6 border rounded-start">
        <label for="id1" class="form-label labelClass ms-1 fw-bold mt-3">When was the car registered?</label>
        <input type="text" class="form-control modal-input ms-1" id="id1" placeholder="Search Make" [(ngModel)]="insuranceData.modelName">
</div>
<div class="col-md-6 border rounded-end">
  <app-insurance-details [insuranceData]="insuranceData"></app-insurance-details>
</div>
</div>
</div>
