<div class="container w-75 mt-1">
  <div class="row">
    <div class="col-md-6 border rounded-start">
      <h2 class="mt-3 ms-2 fw-semibold">When did you register your car?</h2>
      <form [formGroup]="regForm">
        <div class="row">
          <div class="col-md-4 ms-5 me-4">
            <select formControlName="year" class="form-select p-3" [(ngModel)]="insuranceData.registrationDetails.year">
              <option value="">Selecte Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <select formControlName="month" class="form-select p-3" [(ngModel)]="insuranceData.registrationDetails.month">
              <option value="">Month</option>
              <option *ngFor="let month of months" [value]="month">{{month}}</option>
            </select>
          </div>
          <div class="mt-3 ms-5">
            <mat-slide-toggle (click)="toggleDropdowns()"></mat-slide-toggle><span class="mx-4 fs-6 fw-semibold">It's a
              brand new Car</span>
          </div>
          <div class="row mt-4">
            <button type="button" class="btn btn-primary w-75" *ngIf="isVisible == false" (click)="toggleform()">Continue</button>
          </div>
          <div *ngIf="isVisible == true">
            <input type="search" name="search" class="form-control search" placeholder="search"
              ><span id="search-icon"><i class="bi bi-search"></i></span>
            <h4 class="heading"> Popular Locations </h4>
            <div class="row">
              <div class="col-md-5">
                <ul class="custom-list">
                  <li *ngFor="let city of popularCities.slice(0, 5)"
                    class="border m-3 cursor-pointer" (click)="sendCity(city)">{{ city }} <span class="arrow"><i
                        class="bi bi-chevron-right"></i></span></li>
                </ul>
              </div>
              <div class="col-md-5">
                <ul>
                  <li *ngFor="let city of popularCities.slice(5)"
                    class="border m-3 cursor-pointer" (click)="sendCity(city)">{{ city }}<span class="arrow2"><i
                        class="bi bi-chevron-right"></i></span>
                  </li>
                </ul>


              </div>
            </div>
            <button type="button" class="btn btn-primary w-75 my-3" routerLink="/car-insurance/choose-plan">Continue</button>
          </div>
          <div>

          </div>
        </div>
      </form>




    </div>
    <div class="col-md-6 border rounded-end">
      <app-insurance-details [insuranceData]="insuranceData"></app-insurance-details>
      <div class="row">
        <img src="../../../assets/blue-car.jpg" class="car-img mt-3 w-75 ms-5" alt="car" height="200">
      </div>
    </div>

  </div>


</div>
