.navbar ul{
  display: flex;
  height: 30px;
}
li{
  list-style: none;
}
ul li a{
  display: inline-block;
  margin : 7px 0 0 100px;
  font-weight: 500;
  cursor: pointer;
}
li a:hover{
  color: rgb(72, 111, 254);
}
