<div class="container w-75">
  <div class="row">
     <div class="col-md-6 border rounded-start">
        <label for="id1" class="form-label labelClass ms-1 fw-bold mt-3">Select Modal</label>
        <input type="text" class="form-control modal-input ms-1" id="id1" placeholder="Search Modal" [(ngModel)]="insuranceData.modelName">

        <div class="row mt-2 ms-1">
            <div class="col-md-10 border m-1 rounded cursor-pointer" *ngFor="let item of modalList" (click)="selectModal(item.concat)">
                <span class="mx-1 modal-name fw-semibold" style="font-size: 14px;">{{item.concat}}</span>
            </div>
        </div>
     </div>
     <div class="col-md-6 border rounded-end">
        <app-insurance-details [insuranceData]="insuranceData"></app-insurance-details>
        <div class="row">
          <img src="../../../assets/front-car.avif" class="car-img mt-3 w-75 ms-5" alt="car" height="300">
        </div>
    </div>
  </div>
</div>
